Annabelle Clermont <E-MAIL> USER <COMMIT-EMAIL>
Sven Blüm <svbluem@edu.aau.at> USER <COMMIT-EMAIL>
Amar Okic <E-MAIL> USER <COMMIT-EMAIL>
Samuel Ziegler <s1ziegler@edu.aau.at> syntaxsavr <87152786+syntaxsavr@users.noreply.github.com>
