Annabelle Clermont <clermona@edu.aau.at> clermona <clermontanni@gmail.com>
Sven Blüm <svbluem@edu.aau.at> sveblu <svbluem@edu.aau.at>
Amar Okic <amokic@edu.aau.at> aoksy1 <93058382+aoksy1@users.noreply.github.com>
Samuel Ziegler <s1ziegler@edu.aau.at> syntaxsavr <87152786+syntaxsavr@users.noreply.github.com>
